*{
    margin:0;
    padding: 0;
}
body{
    
    background-color:#548687;
    text-align: center;
}
#gamename{
background-color:rgb(63, 152, 122);
margin-bottom:2vmin;
border: 2px solid black;
}
.container{
    height:70vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.game{
    height:60vmin;
    width:60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin;
}
.box{
    height:18vmin;
    width:18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    color:#b0413e;
    background-color: #ffffcf;
}
#reset{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191313;
    color:white;
    border-radius: 1rem;
    border: none;
}
.newbtn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191313;
    color:white;
    border-radius: 1rem;
    border: none;
}
#msg{
    color:#e01b1b;
    font-size: 10vmin;
    position:relative;
    top:45vmin;
    z-index: 10;
    background-color: #ffffcf;
    opacity: 0.8;
}
.msgconatainer{
    height:30vmin;
}
.hide{
    display: none;
}
.turn{
    color: rgb(208, 194, 31);
   
    margin:1vmin;
    text-align: center;
    
    font-size: large;
    font-weight: 900;
    font-size: 1.5rem;
    
}
.hide2{
    display: none;
}
.developer{
    position:relative;
    font-size: 2rem;
    font-style:unset;
    background-color: #a89796;
    gap:1vmin;
    top:2.5vmin;
    text-decoration:none;
    font-weight:600;
    

}    